<h1>To Do list </h1>

<% @todos.each do |todo| %>
 <div class="well">
 	<%= todo.description %>
 	<%= todo.completed %>
 </div>
<% end %>

<%= link_to "Crear ToDo", todos_new_path, :class => "btn-primary" %>